*{
    margin: 0;
    padding: 0;
}
.global{
    width: 100%;
    position: absolute;
}

/* header */
header{
    width: 99.75%;
    height: 110px;
    border-bottom:1px solid blue;
    background-color: whitesmoke;
    position: fixed;
    z-index: 10;
}
#headerTitle{
    position: relative;
    float: left;
    width: 25%;
    height: 100px;
    padding: 0 1%;
}
#logo{
    width: 100%;
    height: 99px;
    background: url('image/logo.jpg') no-repeat;
}
header h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(25, 2, 46);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    float: right;
    line-height: 140%;
    position: absolute;
    top: 10%;
    right: 1%;
}
nav{
    float: right;
    width: 72%;
    height: 100px;
}
nav ul{
    list-style-type: none;
    font-size: 1.3em;
    text-align: center;
    padding-top: 2%;
   
}
nav li{
    display: inline-block;
    padding-right: 2%;
    text-transform: uppercase;
    font-size: 73%;
    
}
nav li a{
    text-decoration: none;
    color: blueviolet;
}
nav li a:hover{
    color: violet;
    font-weight: bold;
}
input[type="email"]{
    text-align: center;
    margin: 1.8% 8.5%;
    width: 80%;
    border-radius: 2px;
    height: 17%;
}

/* la banniere */
.banniere{
    margin-top: 8%;
    width: 100%;
    height: 474px;
    background: url('image/canadaBaniere.png') no-repeat;
    border-bottom: 2px ridge rgb(4, 58, 58);
}
#about{
    float: left;
    margin-top: 1%;
    width: 66.5%;
    height: 1400px;
    padding: 1% 2%;

}
#whyCan{
    float: left;
}
#about h1, aside h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 195%;
    margin-top: 5%;
    padding-bottom: 3%;
}
#about p{
    text-align: justify;
    line-height: 160%;
    margin-bottom: 6%;
} 



aside{
    float: right;
    width: 28%;
    height: 1200px;
    margin-top: 1%;
}
aside h1{
    padding-top: 10%;
}
aside p{
    padding: 4%;
    text-align: left;
    line-height: 170%;
    margin-bottom: 3%;
}
aside div{
    border: 1px solid red;
    width: 75%;
    height: 4%;
    text-align: center;
    border-radius: 20px;
    margin: 2% 12%;
    font-size: 1.2em;
    padding-top: 1.4%;
    font-weight: bold;
   
}
aside a{
    text-decoration: none;
    color: rgb(6, 90, 90);
}
aside a:hover{
    color:rgb(104, 14, 14);
}
.underline p{
    line-height: 170%;
    border-bottom: 2px ridge rgb(104, 14, 14);
    padding: 2%;
    margin-bottom: 2%;
}

footer{
    clear: both;
    width: 100%;
    height: 250px;
    background: #777;
}

#logoIM{
    margin-top: 130px;
    width: 70%;
    margin-left: 200px;
    height: 200px;
    background: url('image/logaIM.jpg') no-repeat right;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid rgb(185, 39, 39);
}
#logoIM h2{
    margin-top: 30px;
    color: rgb(39, 20, 56);
    padding: 30px 0px;
    

}
#logoIM h1{
    color: red;
    text-align: center;
}
#immigration{
    width: 100%;
    height: 1000px;
}
#immigration p:first-child{
    width: 92%;
    margin: 50px;
    text-align: left;
    font-size: 1.2em;
    line-height: 25px;
    padding-bottom: 20px;
}
.description1 {
    float: left;
    width: 47%;
    height: 1500px;
    padding: 10px;
}
.description1  p span{
    background-color: #444;
    color: aliceblue;
    font-size: 1.2em;
    margin: 5px 1px;
}

.description2{
    float: right;
    width: 44%;
    height: 1500px;
    padding: 20px;
    font-size: 1em;
    line-height: 23px;
}
.description2 p{
    width: 92%;
    text-align: left;
    padding-left: 50px;
    margin: 50px ;
    text-align: left;
    font-size: 1em;
    line-height: 25px;
    padding-bottom: 20px;
    font-size: 0.8em;
}
.description2  h2{
    font-size: 1.5em;
    text-transform: uppercase;
    color: red;
    margin: 10px 1px;
    padding: 5px ;
    text-align: center;
}

